/* Example CSS styling for your elements */

.graph-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-gap: 20px; /* Adjust the gap between the two columns as needed */
    align-items: center; /* Center vertically within the grid */
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-top: 10px;

}
.part1{
    grid-template-columns: 1/2;
    grid-template-rows: 1/2;
    display: grid;
}
textarea {
    grid-template-rows: 1/2;
    grid-template-columns: 1/2;
    width: 90%;
    height: 400px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 100px;
    /* margin-left: 190px;
    margin-right: 190px; */
    font-size: 25px;
}
.action-button{
    grid-template-rows: 1/2;
    grid-template-columns: 2/3;

}
.action-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    /* margin-left: 190px; */
    /* margin-right: 190px; */

}

.action-button:hover {
    background-color: #258cd1;
}

.reject-button {
    margin-left: 15px;
    background-color: #e74c3c;
}

.reject-button:hover {
    background-color: #c73a2b;
}
.logic{
    grid-template-columns: 2/3;
    grid-template-rows: 1/2;
}

.logicano{
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-top: -15px;
  }
  
  .logicano h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .logicano h3 {
    font-size: 18px;
    margin-top: 20px;
  }
  
  .logicano span {
    display: block;
    margin-left: 20px;
    font-size: 16px;
    color: #333;
  }
  
  
  
  
  