<div [ngClass]="{'light': !darkModeS.isDarkMode}">
  <footer class="footer" >
    <div class="container">
      <div class="footer-content">
        <div class="footer-logo">
          <h1 class="logo-text">MATH3RAPHE</h1>
        </div>
        <div class="footer-social">
          <a href="https://www.linkedin.com/in/ouaillaamiri/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://www.instagram.com/ouail_laamiri/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://github.com/LaamiriOuail/MATH3RAPHE-WEB" target="_blank"><i class="fab fa-github"></i></a>
          <a href="mailto:waillaamiri88@gmail.com" target="_blank"><i class="far fa-envelope"></i></a> 
        </div>
      </div>
      <div class="footer-copyright">
        &copy; 2023 MATH3RAPHE. All rights reserved.
      </div>
    </div>
  </footer>
</div>

  