<div>
    <input type="text" class="form-input" value="{{lastNodeId}}" disabled>
    <input type="text" class="form-input" placeholder='{{"screenbox.msg28"|translate}}' [(ngModel)]="newNodeId" >
    <button type="button" class="form-button form-button-primary" (click)="grapheS.changeNodeId(container,this)">{{"screenbox.msg20"|translate}}</button>
    <button type="button" class="form-button form-button-secondary" (click)="grapheS.RejeterChangeNodeId(container,this)">{{"screenbox.msg21"|translate}}</button>
</div>